<div id="product_<%= product.id %>">
  <h2><%= product.name %></h2>
  <p><%= image_tag(product.image, class: "img-thumbnail", style: "width: 200px; height: 200px;") %></p>
  <p><%= product.description %></p>
  <p>Price: $<%= product.price %></p>
  <p>Stock Level: <%= product.quantity %></p>
  <%= link_to 'Increase Stock', increase_stock_product_path(product, amount: 1), method: :patch, class: 'btn btn-success', data: { turbo_method: :patch } %>
  <%= link_to 'Decrease Stock', decrease_stock_product_path(product, amount: 1), method: :patch, class: 'btn btn-danger', data: { turbo_method: :patch } %>
  <%= link_to 'All Products', products_path, class: 'btn btn-primary' %>
</div>
